<html>
<head>
	<title>Chapter Work</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">  <!-- font awesome allows for the cool icons on the buttons-->
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

	<h1>Welcome!</h1>
	<div class="jumbotron text-center">

		<a href="/login" class="btn btn-warning"><span class="fa fa-user"></span>Login</a>
		<a href="/signup" class="btn btn-primary"><span class="fa fa-user"></span>Sign-Up</a>
		<a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google+</a>
		<a href="/auth/spotify" class="btn btn-success"><span class="fa fa-spotify"></span> Spotify</a>
	</div>

</div>

</div>
</body>
</html>
